h1 { 
  margin: 15px 25px;
  font-size: 30px;
}

h2 {
  margin: 15px 25px;
  font-size: 20px;
  color: #ffcc00;	
}

p {
  margin: 15px 25px;
  font-size: 15px;	
}

body {
	background-image: url('../images/assg2-background.jpg');
	background-color: #435a6b;
  font-family: 'Arial';
}