h1 { 
  margin: 15px 25px;
  font-size: 30px;

}

h2 {
  margin: 15px 25px;
  font-size: 20px;	

}

p {

}

body {
	background-image: url(http://fallmeeting.agu.org/2012/files/2012/09/Dust-and-Aerosols-SWIRL-graphic.jpg);
	background-color: #435a6b;
    font-family: 'Arial';

}